<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="description" content="Angular JS Project">
    <meta name="keywords" content="HTML, Angular JS, AngularJS, Javascript, Sign In, Sign Up, Registration, Directives">
    <meta name="author" content="Bien Jerico Cueto">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Angular JS Project</title>

       <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Didact Gothic Font -->
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">

    <!-- Latest compiled and minified Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <!-- App Angular JS -->
    <script src="app.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
      * {
        font-family: 'Didact Gothic', sans-serif;
      }
      #auth-box {
        width:300px;
        margin: 0;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      #loading {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }  

      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }
    </style>
  </head>
  <body ng-app="app" ng-cloak>

  <div class="container">
  <!-- <div id="loading">loading...</div> -->
  <div id="auth-box">
   <div  ng-controller="authController">

      <div class="text-center">
        <h3>Sign In</h3>
      </div>
      <div class="alert alert-{{msg.status}} alert-dismissible" ng-show="msg.result" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{msg.message}}
      </div>
      <form name="signinForm" novalidate>
          <div class="form-group"  ng-class="{'has-error' : signinForm.emailaddress.$dirty && signinForm.emailaddress.$error.required || signinForm.emailaddress.$error.email }">
            <input type="email" ng-model="signin.emailaddress" class="form-control" name="emailaddress" ng-required="true" placeholder="Email Address" />
            <p ng-show="signinForm.emailaddress.$dirty && signinForm.emailaddress.$error.required" class="help-block">Email address is required.</p>
            <p ng-show="signinForm.emailaddress.$dirty && signinForm.emailaddress.$error.email" class="help-block">Invalid email address.</p>
          </div>
          <div class="form-group"  ng-class="{'has-error' : signinForm.password.$dirty && signinForm.password.$error.required }">
            <input type="password" ng-model="signin.password"  class="form-control"  name="password" ng-required="true"  placeholder="Password"/>
            <p ng-show="signinForm.password.$dirty && signinForm.password.$error.required" class="help-block">Password is required.</p>
          </div>
          <div class="form-group pull-right">
              <button type="submit" class="btn btn-primary btn-sm" ng-disabled = "signinForm.$invalid" ng-click="submitSignInForm(signinForm.$valid)">
                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                Submit
              </button>
          </div> 
      </form>
      <div class="clearfix">&nbsp;</div>
      <div class="text-center">
        <h3>Sign Up</h3>
      </div>
      <form name="signupForm" novalidate>
          <div class="form-group" ng-class="{'has-error' : signupForm.firstname.$dirty && signupForm.firstname.$error.required }" >
            <input type="text" ng-model="signup.firstname" class="form-control" name="firstname" ng-required="true" ng-trim="true"  placeholder="First Name"/>
            <p ng-show="signupForm.firstname.$dirty && signupForm.firstname.$error.required" class="help-block">First name is required.</p>
          </div>
           <div class="form-group"  ng-class="{'has-error' : signupForm.lastname.$dirty && signupForm.lastname.$error.required }">
            <input type="text" ng-model="signup.lastname" class="form-control" name="lastname"  ng-required="true" ng-trim="true"  placeholder="Last Name"/>
            <p ng-show="signupForm.lastname.$dirty && signupForm.lastname.$error.required" class="help-block">Last name is required.</p>
          </div>
          <div class="form-group"  ng-class="{'has-error' : signupForm.emailaddress.$dirty && signupForm.emailaddress.$error.required || signupForm.emailaddress.$error.email || signupForm.emailaddress.$error.uniqueEmailAddress }">
            <input type="email" ng-model="signup.emailaddress" class="form-control" name="emailaddress" ng-required="true" unique-email-address  placeholder="Email Address"/>
            <p ng-show="signupForm.emailaddress.$dirty && signupForm.emailaddress.$error.required" class="help-block">Email address is required.</p>
            <p ng-show="signupForm.emailaddress.$dirty && signupForm.emailaddress.$error.email" class="help-block">Invalid email address.</p>
            <p ng-show="signupForm.emailaddress.$dirty && signupForm.emailaddress.$error.uniqueEmailAddress" class="help-block">Email Address is already used.</p>
          </div>
          <div class="form-group"  ng-class="{'has-error' : signupForm.password.$dirty && signupForm.password.$error.required }">
            <input type="password" ng-model="signup.password"  class="form-control"  name="password" ng-required="true"  placeholder="Password"/>
            <p ng-show="signupForm.password.$dirty && signupForm.password.$error.required" class="help-block">Password is required.</p>
          </div>
          <div class="form-group pull-right">
              <button type="submit" class="btn btn-primary btn-sm" ng-disabled = "signupForm.$invalid" ng-click="submitSignUpForm(signupForm.$valid)">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                Submit
              </button>
          </div> 
      </form>

    </div>  
  </div>
  </div>  

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
</html>