* {
  font-family:  'Didact Gothic', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background: linear-gradient( 0deg, #FF8008, #FFC837) no-repeat center fixed;
  color: #666666;
}


.auth {
  background-color: #fff;
  width:300px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #fff;
  padding: 0px 15px 0px 15px;
  border-radius: 10px;
  box-shadow: 0 15px 25px #d86800;
}

.aboutme {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 25px #d86800;
  padding-bottom: 20px;
}

.aboutme-avatar {
  border:1px solid #e0e0e0;
  border-radius: 50%;
  padding:5px;
  background-color: #f0f0f0
}

.aboutme-details {
  padding-left: 50px;
  padding-right: 50px;
}

.aboutme-email {
  text-decoration: none;
}

.row-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-padding-top {
  padding-top: 20px;
}

.dropdown-toggle-transparent {
   padding-top: 15px;
   padding-left: 15px;
   background-color: transparent;
   border-color:transparent;
}
.sample-credentials {
  font-size:12px;
  padding-bottom:5px;
}


[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

/*.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  font-weight: bold;
  background-color: transparent;
  border-bottom: 0px;
  border-color: transparent;
}*/
